@charset "utf-8";
@import "node_modules/bulma/bulma.sass";

html {
	  scroll-behavior: smooth;
}

header.header-image{
	background-image: url("../../assets/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #999;
	section{
		div{
			nav.is-info{
				background-color: #3298dc !important;
				color: #fff;
			}	
		}
	}
}

main {
	max-width: 850px;
    margin: 3rem auto;
    padding: 0 2rem;
}

.is-transparent {
    opacity: 0.5;
}